<div class="toolbar">
    <h4 class="toolbar-title">{{title}}</h4>
    <input type="text" class="toolbar-search">

    <div class="toolbar-buttons">
        <button class="toolbar-button">
            <a class="toolbar-button-user" href>
                <img src="..//../../../assets/img_avatar.png" alt="Avatar"
                    class="bd1-icon">
                <div>Vinoth</div> </a>
        </button>
        <button class="toolbar-button"><a href> Settings </a> </button>
        <button class="toolbar-button"><a href> Sign Out </a> </button>
    </div>
</div>